<footer class="footer">
    <div class="footer-top">
        <div class="logo-group">
            <a class="logo-link" routerLink="/home">
                <img class="logo-white" src="/assets/img/logo-white.png">
            </a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.</p>
        </div>

        <div class="footer-navigation">
            <div class="main-links">
                <h3 class="menu-heading">Основные ссылки</h3>
                <ul>
                    <li class="menu-links"><a class="menu-link" routerLink="/about-us">О компании</a></li>
                    <li class="menu-links"><a class="menu-link" routerLink="/catalog">Каталог</a></li>
                    <li class="menu-links"><a class="menu-link" href="#">Доставка</a></li>
                    <li class="menu-links"><a class="menu-link" href="#">Оплата</a></li>
                </ul>
            </div>

            <div class="categories">
                <h3 class="menu-heading">Категории</h3>
                <ul>
                    <li class="menu-links"><a class="menu-link" routerLink="/catalog">Мужская одежда</a></li>
                    <li class="menu-links"><a class="menu-link" routerLink="/catalog">Женская одежда</a></li>
                    <li class="menu-links"><a class="menu-link" routerLink="/catalog">Детская одежда</a></li>
                    <li class="menu-links"><a class="menu-link" routerLink="/catalog">Для животных</a></li>
                </ul>
            </div>

            <div class="usefull-links">
                <h3 class="menu-heading">Полезные ссылки</h3>
                <ul>
                    <li class="menu-links"><a class="menu-link" href="#">Таблица размеров</a></li>
                    <li class="menu-links"><a class="menu-link" href="#">Блог о моде</a></li>
                    <li class="menu-links"><a class="menu-link" href="#">Наша мисия</a></li>
                </ul>
            </div>

            <div class="social-network">
                <h3 class="menu-heading">Соцсети</h3>
                <ul>
                    <li class="menu-links">
                        <a class="menu-link-button" href="https://vk.com" target="_blank">
                            <img class="social-network-icon" src="/assets/img/vk-logo.svg">
                        </a>
                        <a class="menu-link" href="https://vk.com" target="_blank">VK.com</a>
                    </li>
                    <li class="menu-links">
                        <a class="menu-link-button" href="https://www.facebook.com/" target="_blank">
                            <img class="social-network-icon" src="/assets/img/facebook-logo.svg">
                        </a>
                        <a class="menu-link" href="https://www.facebook.com/" target="_blank">Facebook</a>
                    </li>
                    <li class="menu-links">
                        <a class="menu-link-button" href="https://www.instagram.com/" target="_blank">
                            <img class="social-network-icon" src="/assets/img/instagram-logo.svg">
                        </a>
                        <a class="menu-link" href="https://www.instagram.com/" target="_blank">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="copyright">Copyright © 2020. Все права защищены</div>
        <div class="private-policy"><a class="private-policy-link" href="#">Политика приватности</a></div>
    </div>

</footer>
