<footer>
    <div class="footer-top">
        <div class="logo_group">
            <img src="/assets/img/logo-white.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.</p>
        </div>

        <div class="footer_navigation">
            <div class="main_links">
                <h3>Основные ссылки</h3>
                <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Оплата</a></li>
                </ul>
            </div>

            <div class="categories">
                <h3>Категории</h3>
                <ul>
                    <li><a href="#">Мужская одежда</a></li>
                    <li><a href="#">Женская одежда</a></li>
                    <li><a href="#">Детская одежда</a></li>
                    <li><a href="#">Для животных</a></li>
                </ul>
            </div>
            
            <div class="usefull_links">
                <h3>Полезные ссылки</h3>
                <ul>
                    <li><a href="#">Таблица размеров</a></li>
                    <li><a href="#">Блог о моде</a></li>
                    <li><a href="#">Наша мисия</a></li>
                </ul>
            </div>
            
            <div class="social_network">
                <h3>Соцсети</h3>
                <ul>
                    <li>
                        <img src="/assets/img/vk-logo.svg">
                        <a href="#">VK.com</a>
                    </li>
                    <li>
                        <img src="/assets/img/facebook-logo.svg">
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <img src="/assets/img/instagram-logo.svg">
                        <a href="#">Instagram</a>
                    </li>
                </ul>
            </div>
            

        </div>

    </div>

    <div class="footer-bottom">
        <div class="copyright">Copyright © 2019. Все права защищены</div>
        <div class="private_policy"><a href="#">Политика приватности</a></div>
    </div>

</footer>