<footer class="footer">
    <div class="footer-top">
        <div class="logo-group">
            <img src="/assets/img/logo-white.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.</p>
        </div>

        <div class="footer-navigation">
            <div class="main-links">
                <h3 class="menu-heading">Основные ссылки</h3>
                <ul>
                    <li class="menu-links"><a href="#">О компании</a></li>
                    <li class="menu-links"><a href="#">Каталог</a></li>
                    <li class="menu-links"><a href="#">Доставка</a></li>
                    <li class="menu-links"><a href="#">Оплата</a></li>
                </ul>
            </div>

            <div class="categories">
                <h3 class="menu-heading">Категории</h3>
                <ul>
                    <li class="menu-links"><a href="#">Мужская одежда</a></li>
                    <li class="menu-links"><a href="#">Женская одежда</a></li>
                    <li class="menu-links"><a href="#">Детская одежда</a></li>
                    <li class="menu-links"><a href="#">Для животных</a></li>
                </ul>
            </div>
            
            <div class="usefull-links">
                <h3 class="menu-heading">Полезные ссылки</h3>
                <ul>
                    <li class="menu-links"><a href="#">Таблица размеров</a></li>
                    <li class="menu-links"><a href="#">Блог о моде</a></li>
                    <li class="menu-links"><a href="#">Наша мисия</a></li>
                </ul>
            </div>
            
            <div class="social-network">
                <h3 class="menu-heading">Соцсети</h3>
                <ul>
                    <li class="menu-links">
                        <a href="https://vk.com" target="_blank">
                            <img src="/assets/img/vk-logo.svg">
                        </a>
                        <a href="https://vk.com" target="_blank">VK.com</a>
                    </li>
                    <li class="menu-links">
                        <a href="https://www.facebook.com/" target="_blank">
                            <img src="/assets/img/facebook-logo.svg">
                        </a>
                        <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                    </li>
                    <li class="menu-links">
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="/assets/img/instagram-logo.svg">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">Instagram</a>
                    </li>
                </ul>
            </div>
            

        </div>

    </div>

    <div class="footer-bottom">
        <div class="copyright">Copyright © 2019. Все права защищены</div>
        <div class="private-policy"><a href="#">Политика приватности</a></div>
    </div>

</footer>