.shopping-cart {
  display: block;
  width: 1110px;
  margin: 10px auto;
  font-family: Montserrat, sans-serif;
}

.head-text,
.total-price-group {
  font-size: 24px;
}

.product,
.total-price-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  height: 150px;
  margin: 30px 0px 0px 110px;
}

.product-picture{
  height: 150px;
}

.total-price-group {
  height: 50px;
  background-color: #F9F6F1;
  border-radius: 10px;
  width: 1110px;
  margin: 30px 0;
}

.total-price-per-position,
.total-price {
  margin: 0 25px;
}

.total-price-title {
  margin: 0 10px;
}
