<header class="header">
    
    <nav class="navigation">
        <ul class="navigation-menu">
            <li class="navigation-menu-button"><a href="#">Для мужчин</a></li>
            <li class="navigation-menu-button"><a href="#">Для женщин</a></li>
        </ul>
    </nav>

    <img class="logo" src="/assets/img/logo.png">
   
    <div class="purchase">
        <img class="shopping-cart" src="/assets/img/shopping-cart-button.svg">
        <div class="counter-purchase">5</div>
    </div>

</header>
