<header class="header">
    
    <div class="header-content">
        
        <nav class="navigation">
            <ul class="navigation-menu">
                <li class="navigation-menu-button"><a class="navigation-menu-link" href="#">Для мужчин</a></li>
                <li class="navigation-menu-button"><a class="navigation-menu-link" href="#">Для женщин</a></li>
            </ul>
        </nav>

        <a class="logo-link" routerLink="/home"><img class="logo" src="/assets/img/logo.png"></a>
   
        <div class="purchase">
            <a class="shopping-cart-link" routerLink="/shopping-cart">
                <img class="shopping-cart" src="/assets/img/shopping-cart-button.svg">
            </a>
            <div class="counter-purchase">5</div>
        </div>
    </div>

</header>
