<div class="catalog">

    <div class="categories-list">

        <ul class="categories">

            <li class="heading-categories">
                <a class="heading-categories-link" routerLink="/catalog">Мужская коллекция</a>

                <ul class="subcategories">

                    <li class="subcategory">
                        <a class="subcategory-link" routerLink="/catalog">Обувь</a>
                    </li>

                    <li class="subcategory">
                        <a class="subcategory-link" routerLink="/catalog">Полуверы</a>
                    </li>

                    <li class="subcategory">
                        <a class="subcategory-link" routerLink="/catalog">Костюмы</a>
                    </li>
                </ul>
            </li>

            <li class="heading-categories">
                <a class="heading-categories-link" routerLink="/catalog">Женская коллекция</a>

                <ul class="subcategories">

                    <li class="subcategory">
                        <a class="subcategory-link" routerLink="/catalog">Обувь</a>
                    </li>

                    <li class="subcategory">
                        <a class="subcategory-link" routerLink="/catalog">Полуверы</a>
                    </li>

                    <li class="subcategory">
                        <a class="subcategory-link" routerLink="/catalog">Костюмы</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="products-list">

        <h2 class="heading-category">Мужская коллекция</h2>

        <h3 class="heading-subcategory">Обувь</h3>
        <div class="products">
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
        </div>

        <h3 class="heading-subcategory">Полуверы</h3>
        <div class="products">
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
        </div>

        <h3 class="heading-subcategory">Костюмы</h3>
        <div class="products">
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
        </div>

        <h2 class="heading-category">Женская коллекция</h2>

        <h3 class="heading-subcategory">Обувь</h3>
        <div class="products">
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
        </div>
        

        <h3 class="heading-subcategory">Полуверы</h3>
        <div class="products">
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
        </div>

        <h3 class="heading-subcategory">Костюмы</h3>
        <div class="products">
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
            <app-catalog-item></app-catalog-item>
        </div>

    </div>
</div>