.catalog {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 2vw;
    width: 1110px;
    margin: 50px auto;
}

.categories-list, .heading-category, .heading-subcategory {
    font-family: Montserrat, sans-serif;
    font-style: normal;
}

.heading-categories-link, .subcategory-link {
    &:hover {
    text-decoration: underline;
    };
    text-decoration: none;
    color: #212121;
}

.subcategory {
    margin: 15px;
}

.heading-categories-link {
    font-size: 16px;
    font-weight: 600;
}


.heading-category {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
}

.heading-subcategory {
    margin-top: 35px;
    font-size: 18px;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}