.categories-menu {
  font-family: Montserrat, sans-serif;
  font-style: normal;
}

.category-link {
  display: block;
  margin: 0px 0px 15px 25px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  text-transform: uppercase;
  color: #212121;
}
