<nav class="categories-menu">

    <div class="categories">

        <div class="heading-categories">
            <a class="heading-categories-link" routerLink="/catalog">Мужская коллекция</a>

            <div class="subcategories">
                <a class="subcategory-link" routerLink="/catalog">Обувь</a>
                <a class="subcategory-link" routerLink="/catalog">Пуловеры</a>
                <a class="subcategory-link" routerLink="/catalog">Костюмы</a>
            </div>
        </div>

        <div class="heading-categories">
            <a class="heading-categories-link" routerLink="/catalog">Женская коллекция</a>

            <div class="subcategories">
                <a class="subcategory-link" routerLink="/catalog">Обувь</a>
                <a class="subcategory-link" routerLink="/catalog">Пуловеры</a>
                <a class="subcategory-link" routerLink="/catalog">Костюмы</a>
            </div>
        </div>
    </div>
</nav>