<div class="catalog">

    <div class="catalog-menu">
        <app-catalog-menu *ngFor="let productsCategory of productsCategories"
            [productsCategory] = "productsCategory">            
        </app-catalog-menu>
    </div>

    <div class="products-list">

        <div class="products">
            <app-catalog-item *ngFor="let listOfProduct of listOfProducts"
                [productName] = "listOfProduct.shortTitle" [productTitle] = "listOfProduct.title" [productPrice] = "listOfProduct.price" 
                [productPictureUrl] = "listOfProduct.image" >
            </app-catalog-item>
        </div>
    </div>
</div>